<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>管理后台</title>
    <link href="/bootstrap/bootstrap.min.css" th:href="@{/bootstrap/bootstrap.min.css}" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.min.css" th:href="@{/font-awesome/css/font-awesome.min.css}"
          rel="stylesheet">
    <link href="/css/style.css" th:href="@{/css/global_style.css}" rel="stylesheet">
</head>


<body>

<div id="wrapper">

    <!-- 左边 nav -->
    <!-- 通用部分 -->
    <div th:replace="module/nav_left::html"></div>

    <!-- 右边内容 -->
    <div id="page-wrapper" class="gray-bg" style="background-color: #ffffff;">
        <!-- 第一块 上面的顶栏 -->
        <!-- 通用部分 -->
        <div th:replace="module/nav_top::html"></div>


        <!-- 第二块 tab栏 -->
        <div class="row  border-bottom">
            <div class="col-lg-12">
                <div class="tab_title">
                    <ul class="nav nav-pills">
                        <li class="current">
                            <a href="/food/index">美食列表</a>
                        </li>
                        <li>
                            <a href="/food/cat">分类列表</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <!-- 第三块 表格内容 -->
        <div class="row">
            <div class="col-lg-12">
                <form class="form-inline wrap_search">
                    <div class="row  m-t p-w-m">
                        <div class="form-group">
                            <select name="status" class="form-control inline">
                                <option value="-1">请选择状态</option>
                                <option value="1">正常</option>
                                <option value="0">已删除</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select name="cat_id" class="form-control inline">
                                <option value="0">请选择分类</option>
                                <option value="1">111</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" name="mix_kw" placeholder="请输入关键字" class="form-control" value="">
                                <span class="input-group-btn">
                            <button type="button" class="btn  btn-primary search">
                                <i class="fa fa-search"></i>搜索
                            </button>
                        </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12">
                            <a class="btn btn-w-m btn-outline btn-primary pull-right" href="/food/set">
                                <i class="fa fa-plus"></i>美食
                            </a>
                        </div>
                    </div>

                </form>
                <table class="table table-bordered m-t">
                    <thead>
                    <tr>
                        <th>美食名</th>
                        <th>分类</th>
                        <th>价格</th>
                        <th>库存</th>
                        <th>标签</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>小鸡炖蘑菇</td>
                        <td>东北菜</td>
                        <td>0.02</td>
                        <td>27</td>
                        <td>好吃</td>
                        <td>
                            <a href="{{ buildUrl('/food/info') }}">
                                <i class="fa fa-eye fa-lg"></i>
                            </a>
                            <a class="m-l" href="{{ buildUrl('/food/set') }}">
                                <i class="fa fa-edit fa-lg"></i>
                            </a>

                            <a class="m-l remove" href="javascript:void(0);" data="3">
                                <i class="fa fa-trash fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-lg-12">
                        <span class="pagination_count" style="line-height: 40px;">共1条记录 | 每页50条</span>
                        <ul class="pagination pagination-lg pull-right" style="margin: 0 0 ;">
                            <li class="active"><a href="javascript:void(0);">1</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 右边内容结束 -->

</div>

<!-- 通用 html 部分 -->
<script src="/plugins/jquery-2.1.1.js" th:src="@{/plugins/jquery-2.1.1.js}"></script>
<script src="/bootstrap/bootstrap.min.js" th:src="@{/bootstrap/bootstrap.min.js}"></script>
<script src="/plugins/layer/layer.js" th:src="@{/plugins/layer/layer.js}"></script>
<script src="/js/common.js" th:src="@{/js/common.js}"></script>

</body>
</html>