<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>管理后台</title>
    <link href="/bootstrap/bootstrap.min.css" th:href="@{/bootstrap/bootstrap.min.css}" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.min.css" th:href="@{/font-awesome/css/font-awesome.min.css}"
          rel="stylesheet">
    <link href="/css/style.css" th:href="@{/css/global_style.css}" rel="stylesheet">
</head>


<body>

<div id="wrapper">

    <!-- 左边 nav -->
    <!-- 通用部分 -->
    <div th:replace="module/nav_left::html"></div>


    <!-- 右边内容 -->
    <div id="page-wrapper" class="gray-bg" style="background-color: #ffffff;">
        <!-- 第一块 上面的顶栏 -->
        <!-- 通用部分 -->
        <div th:replace="module/nav_top::html"></div>

        <!-- ------------------  -->
        <div class="row  border-bottom">
            <div class="col-lg-12">
                <div class="tab_title">
                    <ul class="nav nav-pills">
                        <li class="current">
                            <a href="/finance/index" th:href="@{/seller/finance/index}">财务统计</a>
                        </li>
                        <li>
                            <a href="/finance/sales" th:href="@{/seller/finance/sales}">售卖统计</a>
                        </li>
                        <li>
                            <a href="/finance/consume" th:href="@{/seller/finance/consume}">会员消费统计</a>
                        </li>
                        <li>
                            <a href="/finance/share" th:href="@{/seller/finance/share}">分享统计</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row m-t">
            <div class="col-lg-12" id="container" style="height: 400px;" data-highcharts-chart="0">
                图标使用Highchart
            </div>
            <div class="col-lg-12 m-t">
                <form class="form-inline" id="search_form_wrap">
                    <div class="row p-w-m">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" placeholder="请选择开始时间" name="date_from" class="form-control"
                                       value="2018-05-08">
                            </div>
                        </div>
                        <div class="form-group m-r m-l">
                            <label>至</label>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" placeholder="请选择结束时间" name="date_to" class="form-control"
                                       value="2018-06-07">
                            </div>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-w-m btn-outline btn-primary search">搜索</a>
                        </div>
                    </div>
                    <hr>
                </form>
                <table class="table table-bordered m-t">
                    <thead>
                    <tr>
                        <th>日期</th>
                        <th>营收金额</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>2018-06-07</td>
                        <td>1007.00</td>
                    </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-lg-12">
                        <span class="pagination_count" style="line-height: 40px;">共1条记录 | 每页50条</span>
                        <ul class="pagination pagination-lg pull-right" style="margin: 0 0 ;">
                            <li class="active"><a href="javascript:void(0);">1</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- 右边内容结束 -->

        <!--  --------------------------------------  -->
    </div>
</div>

<!-- 通用 html 部分 -->
<script src="/plugins/jquery-2.1.1.js" th:src="@{/plugins/jquery-2.1.1.js}"></script>
<script src="/bootstrap/bootstrap.min.js" th:src="@{/bootstrap/bootstrap.min.js}"></script>
<script src="/plugins/layer/layer.js" th:src="@{/plugins/layer/layer.js}"></script>
<script src="/js/common.js" th:src="@{/js/common.js}"></script>

</body>
</html>